body {
    background-color: #212529;
    color: #f8f9fa;
    font-family: 'Hack Nerd Font', sans-serif;
}

.nav-tabs .nav-link {
    color: #f8f9fa;
}

.nav-tabs .nav-link.active {
    background-color: #343a40;
    color: #ffffff;
    border-color: #495057;
}

.tab-content {
    background-color: #343a40;
    border: 1px solid #495057;
    border-top: none;
    padding: 20px;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.table {
    color: #f8f9fa;
    table-layout: auto;
}

.table th {
    background: #333;
    color: white;
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td {
    padding: 6px;
    border: 1px solid #495057;
    font-size: 12px;
}

.form-select {
    overflow-y: auto;
}

.sort-asc::after {
    content: '↾';
}

.sort-desc::after {
    content: '⇂';
}
